// шрифты
$ProximaNovaRegular: 'ProximaNova-Regular', Arial, sans-serif;
$ProximaNovaBold: 'ProximaNova-Bold', Arial, sans-serif;

// цвета
$background: #F7FAFB;
$textcolor: #000000;
$link: #3DBDF6;
$mainbar: #062436;
$whitecolor: #FFFFFF;
$activehighlight: #3DBDF6; 
$activetab: #15526A;
$headertext: #7A8185;
$notification: #D0021B;
$titlecolor: #062436;
