@import '../../styles/base.scss';

.app {
  font-family: $ProximaNovaRegular;
  background-color: $background;
  color: $textcolor;
  min-height: 100vh;
  width: 100%;

  display: grid;
  grid-template-areas: 
    "main-bar header"
    "main-bar main"
    "footer footer"
  ;
  grid-template-rows: 61px 1fr 101px;
  grid-template-columns: min-content 1fr;
}