@import '../../styles/base.scss';

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  max-height: 101px;
  flex-shrink: 0;
  padding: 20px 20px 36px;
  font-size: 12px;
  line-height: 15px;

  grid-area: footer;

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__text {
    margin: 0;
    padding: 0;
  }

  &__link {
    text-decoration: none;
    color: $link;
  }

  &__numbers {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}